__pycache__
.DS_Store
day10.py
day12.py
day14.py
day14_data.py
day16.py
day9.py
day_17.py
quiz-game-start
day38
day37
day35
day33
day32
day30
day29
day28
day27
day26
day24
day19
day18
day-25*
NATO*
day21
.env
day8*




